#<---------------------------- Section: Printer ------------------------------->
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
pin_map: arduino

#>>>>> USED FOR [adxl345]
#[mcu rpi]
#serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 6500
max_z_velocity: 50
max_z_accel: 100
square_corner_velocity: 5

#<------------------------------- Section: Pins ------------------------------->
[stepper_x]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
microsteps: 16
rotation_distance: 40
endstop_pin: ^!ar3
position_endstop: 0
position_max: 310
homing_speed: 60
second_homing_speed: 1
homing_positive_dir: false

[stepper_y]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
microsteps: 16
rotation_distance: 40
endstop_pin: ^!ar14
position_endstop: 0
position_max: 310
homing_speed: 60
second_homing_speed: 1
homing_positive_dir: false

[stepper_z]
step_pin: ar46
dir_pin: !ar48
enable_pin: !ar62
microsteps: 16
rotation_distance: 8
endstop_pin: ^!ar18
position_min: -3
position_endstop: 0
position_max: 400
homing_speed: 30
second_homing_speed: 1
homing_positive_dir: false

[stepper_z1]
step_pin: ar36
dir_pin: !ar34
enable_pin: !ar30
microsteps: 16
rotation_distance: 8

#<------------------------------ Section: Too Hot ----------------------------->
[extruder]
step_pin: ar26
dir_pin: ar28
enable_pin: !ar24
microsteps: 16
rotation_distance: 7.286
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog13
min_extrude_temp: 180
min_temp: 10
max_temp: 250
max_extrude_only_distance: 500
max_extrude_cross_section: 2.0
pressure_advance: 0.024
[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 3
heating_gain: 5

[heater_bed]
heater_pin: ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
min_temp: 5
max_temp: 150
[verify_heater heater_bed]
max_error: 120
check_gain_time: 60
hysteresis: 3
heating_gain: 5

[fan]
pin: ar9
kick_start_time: 2.000

[heater_fan nozzle_fan]
pin:ar7
heater: extruder
heater_temp: 30.0
kick_start_time: 2.000
fan_speed: 1.0

#>>>>> ENABLE RPI TEMP MONITORING
[temperature_sensor raspberryPi]
sensor_type: temperature_host 

#>>>>> ENABLE MCU TEMP MONITORING
#[temperature_sensor MCU]
#sensor_type: temperature_mcu
#sensor_mcu: mcu

#>>>>> ENABLE RUNOUT SENSING
[filament_switch_sensor RunoutSensor]
#Move filament runout sensor from TFT to X+ endstop pin.
pause_on_runout: False
runout_gcode: PAUSE
insert_gcode: RESUME
switch_pin: ar2

#<---------------------------- Section: Features ------------------------------>
#>>>>> MOONRAKER REQUISITE
[display_status]

#>>>>> ENABLE M118
[respond]

#>>>>> GCODE PATH IN THE PI
[virtual_sdcard]
path: ~/gcode_files

#>>>>> RETURN VELOCITY
[pause_resume]
recover_velocity: 20

#[save_variables]
#filename: ~/variables.cfg

#>>>>> TURN OFF HEATERS AND MOTORS AFTER 10 MINS
[idle_timeout]
gcode:
    TURN_OFF_HEATERS
    ENGINES_OFF
timeout: 600

#>>>>> ENABLE ARC SUPPORT
[gcode_arcs]
resolution: 0.025

#<--------------------------- Section: Levelling ------------------------------>
#>>>>> PROBE CONFIGURATION
#[bltouch]
#sensor_pin: 
#control_pin: 

#>>>>> ENABLE BED_SCREWS_ADJUST
[bed_screws]
screw1: 55,55
screw1_name: Front-Left
screw2: 255,55
screw2_name: Front-Right
screw3: 55,255
screw3_name: Back-Left
screw4: 255,255
screw4_name: Back-Right
speed: 100.0

#>>>>> ENABLE G34
[z_tilt]
z_positions: 
    10,155
    270,155
points: 
    10,155
    270,155
speed: 100
horizontal_move_z: 10

#>>>>> ENABLE G35
[screws_tilt_adjust]
screw1: 22,83
screw1_name: Front-Left
screw2: 222,83
screw2_name: Front-Right
screw3: 22,283
screw3_name: Back-Left
screw4: 222,283
screw4_name: Back-Right
speed: 100.0
horizontal_move_z: 5
screw_thread: CW-M5

#<--------------------------- Section: Compensation --------------------------->
#>>>>> MANUAL RESONANCE COMPENSATION
[input_shaper]
shaper_freq_x: 34.23
shaper_freq_y: 38.99
shaper_type: mzv
#shaper_type_x:
#shaper_type_y:
#damping_ratio_x: 0.1
#damping_ratio_y: 0.1

#>>>>> ACCELEROMETER CONFIGURATION
#[adxl345]
#cs_pin: rpi:None

#>>>>> ENABLE AUTO CALIBRATION
#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#100,100,20  # an example

#<----------------------------- Section: Macros ------------------------------->
#>>>>> START GCODE
[gcode_macro THE_BEGINNING]
gcode:
    G28                 	        #home all axes
    G92 E0                          #reset extruder
    G1 Z1.0 F3000                   #move z up little to prevent scratching of surface
    G1 X2 Y20 Z0.3 F5000.0          #move to start-line position
    G1 X2 Y280.0 Z0.3 F1500.0 E20   #draw 1st line
    G1 X2 Y280.0 Z0.4 F5000.0       #move to side a little
    G1 X2 Y20 Z0.4 F1500.0 E40      #draw 2nd line
    G92 E0                          #reset extruder
    G1 Z1.0 F3000                   #move z up little to prevent scratching of surface

#>>>>> FILAMENT LOAD PROCEDURE
[gcode_macro LOAD_FILAMENT]
default_parameter_EXTRUDER: 200
default_parameter_X: 410
default_parameter_Y: 40
default_parameter_Z: 10
default_parameter_E: 160
gcode:
    G90
    G0 X{X} Y{Y}        #move to area where you can easily load filament
    M109 S{EXTRUDER}    #set hotend temperature and wait
    M83                 #relative positioning on extruder    
    G0 E{E} F400        #prime extruder
    G92 E0

#>>>>> PAUSE PRINTING
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 0      #edit to your park position
default_parameter_Y: 0      #edit to your park position
default_parameter_Z: 10     #edit to your park position
default_parameter_E: 1      #edit to your retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000

#>>>>> RESUME PRINTING
[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1       #edit to your retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

#>>>>> FILAMENT CHANGE
[gcode_macro M600]
default_parameter_X: 300    #park position
default_parameter_Y: 40     #park position
default_parameter_Z: 10     #park position
default_parameter_E: -5   #retract distance
gcode:
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-5 F4000
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000      #park position
    G0 E10 F500             #extrude filament to get better blob on end
    G0 E{E} F600            #retract additional filament to move out of melt zone
    G92 E0

#>>>>> RESUME PRINTING
[gcode_macro SWAP_RESUME]
gcode:
    RESTORE_GCODE_STATE NAME=M600_state
    resume

#>>>>> STOP PRINTING IMMEDIATELY
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

#>>>>> END GCODE
[gcode_macro THE_END]
gcode:
    TURN_OFF_HEATERS
    SAVE_GCODE_STATE NAME=END_state
    M83             #set relative extrusion
    G92 E0          #reset extrusion amount
    #M204 S10000    #set max acceleration
    G1 E-2 F4000    #retract 2mm
    #M204 S3000     #set max acceleration

    #move the toolhead out of the way
    #if the tool is less than 30mm away from Z Max, move it to Z max, otherwise, move Z up 30mm
    {% if printer.toolhead.position.z|float + 30 >= printer.configfile.config["stepper_z"]["position_max"]|float %}
    G90             #set absolute extrusion
    G1 Z{printer.configfile.config["stepper_z"]["position_max"]|float} F1000 #Move tool
    {% else %}
    G91             #set relative extrusion
    G1 Z30 F1000    #move Z axis up 30mm
    {% endif %}

    RESTORE_GCODE_STATE NAME=END_state
    G1 X0 Y300 F24000       #park tool at back of printer
    M107                
    #UNLOAD_FILAMENT        #this is a good spot to call an unload 
                            #filament macro, if you are into that sort of thing
    SET_GCODE_OFFSET Z=0    #reset whatever babystepping you have done
    M84                     #disable motors
    CLEAR_PAUSE             #clear whatever PAUSE state you may have if you have it

#>>>>> FILAMENT RESPOOL PROCEDURE
[gcode_macro UNLOAD_FILAMENT]
default_parameter_EXTRUDER: 200
default_parameter_X: 300
default_parameter_Y: 40
default_parameter_Z: 10
default_parameter_E: -160
gcode:
    G0 X{X} Y{Y}        #move to area where you can easily load filament
    M109 S{EXTRUDER}    #set hotend temperature and wait    
    M83                 #relative positioning on extruder
    G0 E15 F400         #extrude filament to get better blob on end
    G0 E{E} F1000       #retract additional filament to move out of melt zone
    G92 E0

#>>>>> SHUT DOWN ALL STEPPERS
[gcode_macro ENGINES_OFF]
gcode:
    M18

#>>>>> BED LEVELLING 
[gcode_macro G29]
gcode:
    BED_MESH_CLEAR              #clear any loaded mesh
    G28                         #auto-home
    BED_MESH_CALIBRATE          #run probing
    BED_MESH_PROFILE SAVE=X1    #save the mesh

#>>>>> Z STEPPERS AUTO-ALIGNMENT
[gcode_macro G34]
gcode:
    G28
    Z_TILT_ADJUST

#>>>>> TRAMMING ASSISTANT
[gcode_macro G35]
gcode:
    G28
    SCREWS_TILT_CALCULATE

#>>>>> PROBE ACCURACY TEST
[gcode_macro M48]
gcode:
    G28
    G0 Z5
    G0 X155 Y155
    G0 Z0
    PROBE_ACCURACY

[gcode_macro DUMP_MCU_VER]
gcode:
    {% set parameters = namespace(output = 'mcu version: \n') %}
    {% for name1 in printer %}
        {% for name2 in printer[name1] %}
            {% set show = ['mcu_version'] %}
            {% if name2 is in show %}
                {% set param = "%s: %s" % (name1, printer[name1][name2]) %}
                {% set parameters.output = parameters.output +  param + "\n" %}
            {% endif %}
        {% endfor %}
    {% endfor %}
  {action_respond_info(parameters.output)}

#>>>>> DEPLOY PROBE
[gcode_macro M401]
gcode:
    BLTOUCH_DEBUG COMMAND=pin_down

#>>>>> STOW PROBE
[gcode_macro M402]
gcode:
    BLTOUCH_DEBUG COMMAND=pin_up

[gcode_macro DUMP_PARAMETERS]
gcode:
    {% set parameters = namespace(output = '') %}
    {% for name1 in printer %}
        {% for name2 in printer[name1] %}
        {% set donotwant = ['bed_mesh','configfile'] %}
        {% if name1 is not in donotwant %}
            {% set param = "printer['%s'].%s = %s" % (name1, name2, printer[name1][name2]) %}
            {% set parameters.output = parameters.output +  param + "\n" %}
        {% endif %}
        {% else %}
            {% set param = "printer['%s'] = %s" % (name1, printer[name1]) %}
            {% set parameters.output = parameters.output +  param + "\n" %}
        {% endfor %}
    {% endfor %}
    {action_respond_info(parameters.output)}

#>>>>> CALLS THE BED LEVELLING PROCEDURE
[gcode_macro BED_LEVEL]
gcode:
  BED_SCREWS_ADJUST

#>>>>> TERMINAL INTERACTION: ACCEPT
[gcode_macro YES]
gcode:
  ACCEPT

#>>>>> TERMINAL INTERACTION: ADJUST
[gcode_macro NO]
gcode:
  ADJUST

#>>>>> TERMINAL INTERACTION: ABORT
[gcode_macro HELLNO]
gcode:
  ABORT

#<----------------------------- Section: Macros ------------------------------->
[board_pins]
mcu: mcu
aliases:
    ar0=PE0, ar1=PE1, ar2=PE4, ar3=PE5, ar4=PG5,
    ar5=PE3, ar6=PH3, ar7=PH4, ar8=PH5, ar9=PH6,
    ar10=PB4, ar11=PB5, ar12=PB6, ar13=PB7, ar14=PJ1,
    ar15=PJ0, ar16=PH1, ar17=PH0, ar18=PD3, ar19=PD2,
    ar20=PD1, ar21=PD0, ar22=PA0, ar23=PA1, ar24=PA2,
    ar25=PA3, ar26=PA4, ar27=PA5, ar28=PA6, ar29=PA7,
    ar30=PC7, ar31=PC6, ar32=PC5, ar33=PC4, ar34=PC3,
    ar35=PC2, ar36=PC1, ar37=PC0, ar38=PD7, ar39=PG2,
    ar40=PG1, ar41=PG0, ar42=PL7, ar43=PL6, ar44=PL5,
    ar45=PL4, ar46=PL3, ar47=PL2, ar48=PL1, ar49=PL0,
    ar50=PB3, ar51=PB2, ar52=PB1, ar53=PB0, ar54=PF0,
    ar55=PF1, ar56=PF2, ar57=PF3, ar58=PF4, ar59=PF5,
    ar60=PF6, ar61=PF7, ar62=PK0, ar63=PK1, ar64=PK2,
    ar65=PK3, ar66=PK4, ar67=PK5, ar68=PK6, ar69=PK7,
    analog0=PF0, analog1=PF1, analog2=PF2, analog3=PF3, analog4=PF4,
    analog5=PF5, analog6=PF6, analog7=PF7, analog8=PK0, analog9=PK1,
    analog10=PK2, analog11=PK3, analog12=PK4, analog13=PK5, analog14=PK6,
    analog15=PK7,
    # Marlin adds these additional aliases
    ml70=PG4, ml71=PG3, ml72=PJ2, ml73=PJ3, ml74=PJ7,
    ml75=PJ4, ml76=PJ5, ml77=PJ6, ml78=PE2, ml79=PE6,
    ml80=PE7, ml81=PD4, ml82=PD5, ml83=PD6, ml84=PH2,
    ml85=PH7

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.484
#*# pid_ki = 1.361
#*# pid_kd = 101.274
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.274
#*# pid_ki = 0.527
#*# pid_kd = 1247.885
